[user]
	name = Andrey Maslennikov
	email = andrew.maslennikov@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[pager]
	branch = false
[alias]
	st = status -sb
	br = branch
	co = checkout
	ci = commit
	rb = rebase
	hist = log --graph --pretty=format:\"%C(red)%h%C(reset) %C(cyan)%ad%C(reset) [%C(green)%an%C(reset)] %C(bold)%d%C(reset) %s\" --abbrev-commit --date=short
	cor = !git checkout $1 && git rebase master
	com = checkout master
	diffw = diff --color-words
	pullr = pull --rebase
	wat = log --graph --pretty=format:\"%C(red)%h%C(reset) %C(cyan)%ad%C(reset) [%C(green)%an%C(reset)] %C(bold)%d%C(reset) %s\" --abbrev-commit --date=short ORIG_HEAD..HEAD
	fu = fetch upstream
	puc = push origin -u HEAD
	mu = !git merge --ff-only "upstream/$(git symbolic-ref -q --short HEAD)"
[push]
	default = simple
[pull]
	default = simple
[includeIf "gitdir:C:/0_work/"]
	path = .gitconfig-work
[includeIf "gitdir:/Users/amaslenn/workspace/mellanox/"]
	path = .gitconfig-mlnx
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	commitGraph = true
[gc]
	writeCommitGraph = true
[fetch]
	writeCommitGraph = true
